* {
  padding: 0%;
  margin: 0%;
  font-size: 20px;
  color: rgb(59, 42, 21);
  box-sizing: border-box;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 2px solid red; */
}

html {
  margin: 0.5rem 2rem;
  background-color: rgb(27, 214, 111);
  overflow-y: hidden;
}


/* scrollbar */
.beta::-webkit-scrollbar {
  width: 13px;               /* width of the entire scrollbar */
}

.beta::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
.beta::-webkit-scrollbar-thumb {
  background-color: rgb(27, 214, 111);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
} 
a {
  color: black;
  text-decoration: none;
}

.menu {
  display: inline;
  align-items: center;
}
.menu li {
  list-style: none;
  display: inline;
  margin: auto 0.5rem;
  font-weight: bold;
}

.menu-items {
  padding-right: 1.5rem;
  padding-top: 0.5em;
  display: inline-flex;
  align-items: center;

  float: right;
}
.logo {
  display: inline;
  letter-spacing: 0em;
}
.logo span {
  color: blue;
}
.logo,
.logo span {
  font-size: 2rem;
  font-weight: 800;
}

.superbox {
  /* border: 2px solid red; */
  margin: 1rem;
  height: 80vh;
  display: flex;
}
.v {
  border: 2px solid black;
}

.main-box {
  border-radius: 1rem;
  margin: 0.3rem auto;
}

.alpha {
  width: 24%;
  background-color: white;
  opacity: 0.8;
  padding: 0.3rem;
}

.beta {
  width: 50%;
  background-color: lightgray;
  opacity: 0.8;
  padding: 1.5rem;
  overflow-y: scroll;
}

.gamma {
  width: 24%;
  background-color: white;
  opacity: 0.8;
  padding: 0.3rem;
}
hr{
  margin: 0.2rem;
}
.main-box span {
  display: block;
}
.pimage{
width: 100%;
height: 100%;
border-radius: 0.2rem;
}
.postimg{
  overflow: hidden;
  padding: 0.3rem;

}


.boxhead {
  text-align: center;
  margin: 0.7rem;
}

.notification{
  background-color: rgb(27, 214, 111);
  border-radius: 0.3rem;
  margin: 0.5rem 0.4rem 0.3rem 0.4rem;
  padding: 0.2rem;
  font-size: 0.7rem;
  display: flex;
}


.notice-heading{
  font-size: 0.8rem;
  font-weight: bolder;
}


.notices{
  font-size: 0.6rem;
}

.sprofile{
  height: 2.7rem;
  padding: 0.1rem;
}

.notice-content{
  padding: 0.28rem;
}


.chatting{
  margin: 0.5rem 0px 0px 0px;
  border-radius: 0.5rem;
  height: auto;
  background-color: black;
  padding: 0.3rem;  
}

.chatname{
  font-weight: bold;
  font-size: 0.7rem;
}
.status{
  font-size: 0.6rem;
  
}

.profile{
  display: flex;
  background-color: rgb(27, 214, 111);
  border-radius: 0.3rem;
}

.chat-profile{
  height:1.5rem;
  margin: 0.4rem;
  margin-bottom: auto;
}

.status-text{
  padding: 0.3rem;
  

  
}

.chats{
  padding: 0.3rem;
}
.chats span{
  font-size: 0.4rem;
  width: 50%;
  background-color: aqua;
  padding: 0.2rem;

  margin: 0.15rem;
  display: inline-block;
}

.one, .two{
  float: right;
  border-radius: 1rem 1rem 0.1rem 1rem;
}

.three, .four{
  border-radius: 1rem 1rem 1rem 0.1rem;
}

#chat-text{
  margin: 0.1rem;
  width: 9rem;
  border: none;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.12rem 0.12rem 0.12rem 0.4rem;
  display: inline-block;
  /* outline: none; */
  /* border: 0px; */
}


.sendbtn{
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
}

.react span{
  display: flexbox;  
  width: 100%;
  padding: 0.3rem;
  margin: 0.1rem;
  text-align: center;
  background-color: rgb(27, 214, 111);
  border-radius: 0.3rem;
  border: 1px solid gray;
  color: black;



}

.react{
  align-content: space-between;
  display: flex;
  padding: 0.3rem;

}

.posts{
  background-color: white;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
}
